@model Class4.Models.newuser

@{
    ViewData["Title"] = "Complete";
}

<h1>Welcome</h1>

<h5>Save information Already</h5>
<p>your Password : @Html.DisplayFor(id => id.Password) </p>
<p>Your Name : @Html.DisplayFor(name => name.UserName)</p>
<p>Your Address : @Html.DisplayFor(add => add.UserEmail)</p>